<section class="banner">
  <div class="message1">
    <p><span><%= t('banner.message1')%></span>
    <span><%= t('banner.message2') %></span></p>
    <div class="btn btn-primary">
      <%= link_to t('contact'), dovesiamo_path, class: 'message-button button' %>
    </div>
  </div>
  <div class="message2">
    <span><%= t('banner.message3_html') %></span>			
  </div>
</section>