<section class="banner">
  <div class="message1">
    <h1><span class='banner-title'><%= t('banner.message1')%></span>
    <span><%= t('banner.message2') %></span></h1>
    <div class="btn btn-primary">
      <%= link_to t('contact'), dovesiamo_path, class: 'message-button button' %>
    </div>
  </div>
  <div class="message2">
    <h2> <span><%= t('banner.message3_html') %> </span></h2>			
  </div>
</section>