
<footer class= "footer">
  <div class=container-fluid>
    <div class='row'>
      <div class='col-md-4 col-xs-12'>
      	<%= cl_image_tag("logo-galli-snc-small_tcwybx.png") %>
      </div>
      <div class='col-md-4 col-xs-12 footer-copyright text-center'>
        <p>© <%= Time.new.year %> Copyright</p>
        <p>Galli S.n.c. di Galli e Piotto</p>
      </div>
      <div class='col-md-4 col-xs-12 footer-copyright text-right'>
        <p>Via Trenca, 3 - 21040 Caronno Varesino (VA)</p>
        <p>Tel. (+39) 0331 980064</p>
        <p>email: info@galli-it.com</p>
      </div>
    </div>
  </div>
</footer>
