<% content_for :title, "Contattaci - Dosatrici per l'industria" %>

<h1 class="text-center">Galli s.n.c.</h1>
<div class="container-fluid full-screen">
	<div class="row map">
		<div class="col-md-4 col-xs-12 item-group">
			<p class='products-subtitle text-center'><%= t('location.one') %></p>
      <p>Via Trenca 3,</p>
      <p>21040 Caronno Varesino (VA)</p>
      <p><%= t('location.where') %></p>
      <p>Tel. & Fax (+39) 0331980064 </p>
      <p>P. I. 02061560120</p>
      <p>email: info@galli-it.com</p>
		</div>
		<div class="col-md-8 col-xs-12 text-center">
      <div id='map'>
      </div>
		</div>
	</div>
</div>

<script>
	function initMap() {
    var myLatLng = {lat: 45.7336, lng: 8.82325};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: myLatLng
    });
    var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Galli s.n.c.'
    });
  }
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials[:production][:googlemapapi]}&callback=initMap" %>

