h1,h2,h3,h4,p,a{
  font-family: 'Ubuntu', sans-serif;
}
a {
	text-decoration: none !important;
}
.right {
  margin-left: auto !important;
}
.responsive{
	width: 100%;
	height: auto;
}
.margin--t-20{
	margin-top: 20px;
}
.margin--50{
	margin: 50px;
}
.padding--60{
	padding: 60px;
}
.margin--b-5{
	margin-bottom: 5px;
}